color-brand-primary = #ce056d
color-gray-light = lighten(#000, 60%)
color-gray-lightest = lighten(#000, 93.5%)
color-gray-dark = lighten(#000, 20%)
color-tag = #eaf4f2

font-family-sans-serif = 'Open Sans', sans-serif
font-family-heading = 'Open Sans Condensed', sans-serif
font-weight-bold = 700
font-weight-semibold = 600
font-weight-regular = 400

screen-md-min = 768px
screen-lg-min = 1024px

query-gt-md = "(min-width: " + screen-lg-min + ")"
query-gt-sm = "(min-width: " + screen-md-min + ")"
